<div class="p-6 pt-3">
    <div class="flex justify-content-between flex-wrap mb-5">
        <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Add a Team" 
            class="flex align-items-center justify-content-center"
            (click)="showAddTeamWithPlayersDialog()">
        </button>
        <button pButton 
            type="button" icon="pi pi-sign-out" label="Logout" 
            class="flex align-items-center justify-content-center p-button-danger"
            (click)="logout()">
        </button>
    </div>
    <p-accordion>
        <p-accordionTab *ngFor="let team of teams; trackBy:trackById" header="{{team.name}}">
            <ng-template pTemplate="content">
                <div class="flex justify-content-between flex-wrap">
                    <div class="flex align-items-center justify-content-center">Country: &nbsp;<p-tag styleClass="p-mr-2" severity="success" value="{{team.country}}"></p-tag></div>
                    <div class="flex align-items-center justify-content-center">CoachName: &nbsp;<p-tag styleClass="p-mr-2" severity="success" value="{{team.coachName}}"></p-tag></div>
                    <div class="flex align-items-center justify-content-center">Foundation Date: &nbsp;<p-tag styleClass="p-mr-2" severity="success" value="{{team.foundationDate | date:'M/d/y'}}"></p-tag></div>
                    <div class="flex align-items-center justify-content-center" *ngIf="isAdmin">
                        <i class="pi pi-user-edit" style="font-size: 1.5rem" (click)="showTeamEditDialog(team)"></i>
                        <i class="pi pi-times ml-2" style="font-size: 1.5rem"></i>
                    </div>
    <!--                 <div><img [src]="logoImageName" alt="logo"></div>
                </div>
                

 -->            
                </div>
                <hr>
                <div class="flex justify-content-between flex-wrap" style="padding: 15px;">
                    <div style="font-size: large;">
                        <strong>Players :</strong> 
                    </div>
                    <i class="pi pi-plus" style="font-size: 1.5rem" (click)="showAddPlayersDialog(team.id)"></i>
                </div>
                <p-accordion>
                    <p-accordionTab *ngFor="let player of team?.players; trackBy:trackById" header="{{player.name}}">
                        <ng-template pTemplate="content">
                            <div class="flex justify-content-between flex-wrap">
                                <div class="flex align-items-center justify-content-center">Name: &nbsp;<p-tag styleClass="p-mr-2" value="{{player.name}}"></p-tag></div>
                                <div class="flex align-items-center justify-content-center">Nationality: &nbsp; <p-tag styleClass="p-mr-2" value="{{player.nationality}}"></p-tag></div>
                                <div class="flex align-items-center justify-content-center">Date of Birth: &nbsp; <p-tag styleClass="p-mr-2" value="{{player.dateOfBirth | date:'M/d/y'}}"></p-tag></div>
                                <div class="flex align-items-center justify-content-center" *ngIf="isAdmin">
                                    <i class="pi pi-user-edit" style="font-size: 1.5rem" (click)="showPlayerEditDialog(player, team.id)"></i>
                                    <i class="pi pi-times ml-2" style="font-size: 1.5rem" (click)="confirmDeletePlayer(player.id, team.id)"></i>
                                </div>


                <!--                 <div><img [src]="logoImageName" alt="logo"></div>
                            </div>
                            
            
             -->            
                            </div>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>

            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>
<!-- team edit dialog -->
<p-dialog header="Edit Team" [(visible)]="displayEditTeam" [contentStyle]="{'overflow': 'visible'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <div class="card" *ngIf="displayEditTeam" [formGroup]="teamForm" >
        <div class="field">
            <label for="name">Name</label>
            <input id="name" type="text" class="inputfield w-full" pInputText formControlName="name">
            <!-- Validation -->
            <div *ngIf="teamName.invalid && (teamName.dirty || teamName.touched)" class="flex flex-column flex-wrap mt-2">     
                <div *ngIf="teamName.errors?.required" class="flex">
                    <p-message severity="error" text="Team Name is required."></p-message>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="country">Country</label>
            <input id="country" type="text" class="inputfield w-full" pInputText formControlName="country">
        </div>
        <div class="field">
            <label for="foundationDate">Foundation Date</label>
            <input id="foundationDate" type="date" class="inputfield w-full" pInputText formControlName="foundationDate">
        </div>
        <div class="field">
            <label for="coachName">Coach Name</label>
            <input id="coachName" type="text" class="inputfield w-full" pInputText formControlName="coachName">
        </div>
        <div class="flex justify-content-center flex-wrap field">
            <button pButton type="button" 
                class="flex align-items-center justify-content-center p-button-raised p-button-rounded"
                (click)="updateTeam()" [disabled]="teamForm.invalid">
                Update Team Info
            </button>
        </div>
    </div>
</p-dialog>
<!-- player edit dialog -->
<p-dialog header="Edit Player" [(visible)]="displayEditPlayer" [contentStyle]="{'overflow': 'visible'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <div class="card" *ngIf="displayEditPlayer" [formGroup]="playerForm" >
        <div class="field">
            <label for="name">Name</label>
            <input id="name" type="text" class="inputfield w-full" pInputText formControlName="name">
            <!-- Validation -->
            <div *ngIf="playerName.invalid && (playerName.dirty || playerName.touched)" class="flex flex-column flex-wrap mt-2">     
                <div *ngIf="playerName.errors?.required" class="flex">
                    <p-message severity="error" text="Player Name is required."></p-message>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="nationality">Nationality</label>
            <input id="nationality" type="text" class="inputfield w-full" pInputText formControlName="nationality">
        </div>
        <div class="field">
            <label for="dateOfBirth">Date Of Birth</label>
            <input id="dateOfBirth" type="date" class="inputfield w-full" pInputText formControlName="dateOfBirth">
        </div>
        <div class="flex justify-content-center flex-wrap field">
            <button pButton type="button" 
                class="flex align-items-center justify-content-center p-button-raised p-button-rounded"
                (click)="updatePlayer()" [disabled]="playerForm.invalid">
                Update Player Info
            </button>
        </div>
    </div>
</p-dialog>

<!-- add team with players dialog -->
<p-dialog header="Add Team" [(visible)]="displayAddTeamWithPlayers" [contentStyle]="{'overflow': 'visible'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
        <div class="card" *ngIf="displayAddTeamWithPlayers" [formGroup]="teamWithPlayersForm" >
            <div class="field">
                <label for="teamName">Team Name</label>
                <input id="teamName" type="text" class="inputfield w-full" pInputText formControlName="name">
                <!-- Validation -->
                <div *ngIf="nameOfTeam?.invalid && (nameOfTeam?.dirty || nameOfTeam?.touched)" class="flex flex-column flex-wrap mt-2">     
                    <div *ngIf="nameOfTeam?.errors?.required" class="flex">
                        <p-message severity="error" text="Team Name is required."></p-message>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="country">Country</label>
                <input id="country" type="text" class="inputfield w-full" pInputText formControlName="country">
            </div>
            <div class="field">
                <label for="foundationDate">Foundation Date</label>
                <input id="foundationDate" type="date" class="inputfield w-full" pInputText formControlName="foundationDate">
            </div>
            <div class="field">
                <label for="coachName">Coach Name</label>
                <input id="coachName" type="text" class="inputfield w-full" pInputText formControlName="coachName">
            </div>
            <h3>Players :</h3>
            <ng-container formArrayName="players">
                <div *ngFor="let player of teamPlayers.controls; let i = index"> 
                    <div class="card" [formGroup]="playerForm" >
                        <div class="field">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="inputfield w-full" pInputText formControlName="name">
                            <!-- Validation -->
                            <div *ngIf="playerName.invalid && (playerName.dirty || playerName.touched)" class="flex flex-column flex-wrap mt-2">     
                                <div *ngIf="playerName.errors?.required" class="flex">
                                    <p-message severity="error" text="Player Name is required."></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="nationality">Nationality</label>
                            <input id="nationality" type="text" class="inputfield w-full" pInputText formControlName="nationality">
                        </div>
                        <div class="field">
                            <label for="dateOfBirth">Date Of Birth</label>
                            <input id="dateOfBirth" type="date" class="inputfield w-full" pInputText formControlName="dateOfBirth">
                        </div>
                        <div class="field flex justify-content-end flex-wrap">
                            <i class="pi pi-plus-circle p-2" style="font-size: 1.5rem" (click)="addNewPlayer()"></i>
                            <i class="pi pi-minus-circle p-2" style="font-size: 1.5rem" (click)="removePlayer(i)"></i>
                        </div>

                    </div>
    
                </div>
    
    
            </ng-container>
            <div class="flex justify-content-center flex-wrap field">
                <button pButton type="button" 
                    class="flex align-items-center justify-content-center p-button-raised p-button-rounded"
                    (click)="addTeam()">
                    Add Team
                </button>
            </div>
        </div>
    </p-scrollPanel>
</p-dialog>

<!-- add players dialog -->
<p-dialog header="Add Players" [(visible)]="displayAddPlayers" [contentStyle]="{'overflow': 'visible'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
        <div class="card" *ngIf="displayAddPlayers" [formGroup]="playersForm" >
            <h3>Players :</h3>
            <ng-container formArrayName="players">
                <div *ngFor="let player of players.controls; let i = index"> 
                    <div class="card" [formGroup]="playerForm" >
                        <div class="field">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="inputfield w-full" pInputText formControlName="name">
                            <!-- Validation -->
                            <div *ngIf="playerName.invalid && (playerName.dirty || playerName.touched)" class="flex flex-column flex-wrap mt-2">     
                                <div *ngIf="playerName.errors?.required" class="flex">
                                    <p-message severity="error" text="Player Name is required."></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="nationality">Nationality</label>
                            <input id="nationality" type="text" class="inputfield w-full" pInputText formControlName="nationality">
                        </div>
                        <div class="field">
                            <label for="dateOfBirth">Date Of Birth</label>
                            <input id="dateOfBirth" type="date" class="inputfield w-full" pInputText formControlName="dateOfBirth">
                        </div>
                        <div class="field flex justify-content-end flex-wrap">
                            <i class="pi pi-plus-circle p-2" style="font-size: 1.5rem" (click)="addNewPlayer()"></i>
                            <i class="pi pi-minus-circle p-2" style="font-size: 1.5rem" (click)="removePlayer(i)"></i>
                        </div>

                    </div>
    
                </div>
    
    
            </ng-container>
            <div class="flex justify-content-center flex-wrap field">
                <button pButton type="button" 
                    class="flex align-items-center justify-content-center p-button-raised p-button-rounded"
                    (click)="addPlayers()">
                    Add Players
                </button>
            </div>
        </div>
    </p-scrollPanel>
</p-dialog>




<p-toast key="team" position="top-center"></p-toast>
<p-toast key="player" position="top-center"></p-toast>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages [value]="msgs" [style]="{width: '50vw'}"></p-messages>